<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hotel management system</title>

  <link rel="stylesheet" href="/bootstrap/supernice.css">

  <!--<link rel="stylesheet" href="/stylesheets/style.css">-->


  <!--<link rel="stylesheet" href="/javascripts/jquery-ui/jquery-ui.min.css"/>-->
  <!--<script src="/javascripts/jquery-2.2.3.js" type="text/javascript"></script>-->
  <!--<script src="/javascripts/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>-->
</head>
<body>
<% include templates/header_m.ejs %>
<div id="banner">
  <h1>Hotel management system</h1>
</div>
<content>

</content>
<% include templates/footer.ejs%>
</body>
</html>