<header>
    <div id="nav-menu">
        <div class="logo">
            <h1><a href="/" class="logo">Hotel Management</a><h1>
        </div>
        <nav>
            <ul class="navbar">
                <li class = "nav-button"><button class="nav-button" onclick="location.href='/manage/hotels/1'" >Hotels</button></li>
                <li class = "nav-button"><button class="nav-button" onclick="location.href='/manage/rooms'" <%if(curHotel == undefined){%>disabled<%}%> >Rooms</button></li>
                <li class = "nav-button"><button class="nav-button" onclick="location.href='/manage/staff'" <%if(curHotel == undefined){%>disabled<%}%> >Staff</button></li>
                <li class = "nav-button"><button class="nav-button" onclick="location.href='/manage/shifts'" <%if(curHotel == undefined){%>disabled<%}%> >Shifts</button></li>
                <li class = "nav-button"><button class="nav-button" onclick="location.href='/manage/reservations'" <%if(curHotel == undefined){%>disabled<%}%> >Reservations</button></li>
                <li class = "nav-button"><button class="nav-button" onclick="location.href='/manage/clients'" >Clients</button></li>
                <li class = "nav-button"><button class="nav-button" onclick="location.href='/manage/users'" >Users</button></li>
                <% if(user != undefined) {%>
                <% } %>
            </ul>
        </nav>
    </div>
</header>