@font-face {
    font-family: 'Helvetica-Regular';
    src: url('../fonts/Helvetica-Regular.eot');
    src: url('../fonts/Helvetica-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica-Regular.woff') format('woff'),
    url('../fonts/Helvetica-Regular.ttf') format('truetype'),
    url('../fonts/Helvetica-Regular.svg#Helvetica-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #fff;
}
header {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    z-index: 20;
    color: black;
}
a.logo {
    text-decoration: none;
    color: white;
    font-size: 24px;
    text-align: center;
    height: auto;
}
#nav-menu {
    background-color: rgba(255, 165, 0, 0.75);
    position: fixed;
    margin: 0;
    height: 64px;
    width: 100%;
    z-index: 20;
}
nav {
    margin: 0;
    float: left;
}
ul.navbar {
    margin: 0;
    padding: 0;
}
li.nav-button {
    list-style: none;
    float: left;
    margin-left: 0;
}
.navbar-info {
    text-align: right;
    float: right;
    width: auto;
    height: auto;
}
.sign-in-button {
    float: right;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 10px;
    height: 44px;
}
.sign-in-text {
    float: right;
    color: #fff;
    line-height: 18px;
    font-size: 18px;
    height: 64px;
    line-height: 64px;
    margin-right: 10px;
}

button.nav-button {
    position: relative;
    width: auto;
    height: 64px;
    margin: 0;
    padding: 0 10px; /*Prevent text from shifting after click*/
    background: transparent;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color .3s;
    line-height: 1px;
    text-align: center;
    color: #fff;
    border: none;
    font-family: "Helvetica-Regular";
    font-size: 18px;
}
button.nav-button:active {
    color: #ccc;
}
button.nav-button:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 125%;
    background: #e59400;
    content: "";
    z-index: -1;
    transition: transform .3s;
}
button.nav-button:hover::after {
    transform: translateY(-80%);
}

button.push-button, input[type=submit], input[type=button] {
    position: relative;
    width: 80px;
    height: 40px;
    padding: 0; /*Prevent text from shifting after click*/
    background: #ffae19;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    line-height: 1px;
    text-align: center;
    color: white;
    border: none;
    font-family: "Helvetica-Regular";
    font-size: 18px;
}
button.push-button:active, input[type=submit]:active,  input[type=button]:active  {
    color: #ccc;
}
button.push-button:disabled, button.nav-button:disabled, input[type=submit]:disabled, input[type=button]:disabled {
    background: #e59400;
}
button.push-button:hover, input[type=submit]:hover, input[type=button]:hover  {
    background: #e59400;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ffe4b2;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.logo {
    color: white;
    float: left;
    font-family: "Helvetica-Regular";
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
    height: 64px;
}
#banner {
    background-image: url(../images/header.png);
    background-position: center;
    height: 100vh;
    background-size: cover;
    color: #fff;
    font-family: "Helvetica-Regular";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.generic-table {
    display: block;
    color: #000;
    padding-top: 64px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: auto;
}

.generic-edit-block {
    display: block;
    padding-top: 74px;
    margin-left: auto;
    margin-right: auto;
}


.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

footer {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    height: 80px;
    background-color: rgba(255, 130, 0, 0.9);
    font-family: "Helvetica-Regular";
    bottom: 0;
    position: fixed;
    z-index: 20;
}

footer.footer-text p {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: white;
}

.shop-element {
    display:block;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: auto;
    color: #000;
    text-align: center;
    font-size: 16px;
    border: 1px #000000;
    border-style: inset;
}

@media screen and (min-width: 500px) {
    .shop-element {
        max-width: calc(100% / 2);
    }
}
@media screen and (min-width: 960px) {
    .shop-element {
        max-width: calc(100% / 3);
    }
}
@media screen and (min-width: 1500px) {
    .shop-element {
        max-width: calc(100% / 5);
    }
}

.shop-element img {
    max-width: 100%;
    background-size:cover;
    vertical-align: top;
}

.shop-element figcaption {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transform: translateY(45px);
}


/*Sign in and Sign up*/

.status-modal p,
.sign-up-modal p,
.sign-up-modal .form-checkbox label,
.sign-in-modal p,
.sign-in-modal .form-checkbox label {
    font-size: 1em;
    font-weight: 300;
}

.status-message {
    width: 99%;
    height: 99%;
    display: table;
}

.status-modal p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.sign-up-modal .form-checkbox label,
.sign-in-modal .form-checkbox label  {
    cursor: pointer;
}

.sign-up-modal,
.sign-in-modal,
.status-modal {
    position: absolute;
    width: 100%;
    height: 640px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: auto;
    font-family: "Helvetica-Regular", arial, sans-serif;
    color: #fff;
    border-style: solid;
    border-width: 3px;
    border-color: #eee;
    border-radius: 10px 10px 10px 10px;
    background-image: -moz-linear-gradient( -90deg, #007272 0%, #00cccc 100%);
    background-image: -webkit-linear-gradient( -90deg, #007272 0%, #00cccc 100%);
    background-image: -ms-linear-gradient( -90deg, #007272 0%, #00cccc 100%);
    min-width: 300px;
    max-width: 500px;
}
.sign-up-modal {
    height: 640px;
}
.sign-in-modal {
    height: 320px;
}
.status-modal {
    height: 128px;
}

.sign-up-modal form,
.sign-in-modal form {
    margin: 0 auto;
    text-align: center;
}

.sign-up-modal .input-container,
.sign-in-modal .input-container {
    margin: 10px;
}

.sign-up-modal input[type="email"] {
    margin-top: 70px;
    margin-left: 40px;
}
.sign-in-modal input[type="text"] {
    margin-top: 70px;
    margin-left: 40px;
}

.sign-up-modal input[type="email"],
.sign-up-modal input[type="text"],
.sign-up-modal input[type="password"],
.sign-up-modal input[type="date"],
.sign-up-modal input[type="checkbox"]:focus,
.sign-up-modal input[type="submit"]:focus,
.sign-in-modal input[type="text"],
.sign-in-modal input[type="password"],
.sign-in-modal input[type="submit"]:focus {
    outline: 0;
}

.sign-up-modal input[type="email"],
.sign-up-modal input[type="text"],
.sign-up-modal input[type="date"],
.sign-up-modal input[type="password"],
.sign-in-modal input[type="text"],
.sign-in-modal input[type="password"] {
    font-weight: 700;
    font-size: 1.4em;
    padding: 10px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, .3);
    border-style: solid;
    background: transparent;
}

.sign-up-modal input[type="email"]:focus,
.sign-up-modal input[type="text"]:focus,
.sign-up-modal input[type="date"]:focus,
.sign-up-modal input[type="password"]:focus,
.sign-in-modal input[type="text"]:focus,
.sign-in-modal input[type="password"]:focus {
    background: white;
    transition: all 0.3s ease;
    color: #222;
}

.sign-up-modal input[type="submit"],
.sign-in-modal input[type="submit"] {
    font-weight: 700;
    font-size: 1.8em;
    color: #111;
    background: #fefefe;
    box-shadow: 0 4px 0 0 #004242;
    border-style: none;
    padding: 10px 50px;
    margin: 25px 0 15px 0;
    position: relative;
    display: inline-block;
    transition: all .1s linear;
}

.sign-up-modal input[type="submit"]:active,
.sign-in-modal input[type="submit"]:active {
    box-shadow: 0 2px 0 #ffae19;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
}

.sign-up-modal #close-sign-up-button,
.sign-in-modal #close-sign-in-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #cc8400;
    float: right;
    position: relative;
    top: 5px;
    left: -5px;
    cursor: pointer;

}

.sign-up-modal #close-sign-up-button:before,
.sign-in-modal #close-sign-in-button:before  {
    content: '\2716';
    font-size: 1.75em;
    position: absolute;
    top: 5px;
    left: 15px;
}

.rows-per-page-selector {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: right;
    vertical-align: middle;
    font-size: 18px;

}

.big-ui-icon {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.pagination {
    font-family: "Helvetica-Regular";
    text-align: center;
    font-size: 14px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}